/* COMMON */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.center{
  width: 70%;
  margin: 0 auto;
}

/* debug */
.debug{
  height: 150px;
  line-height: 150px;

  text-align: center;

  border: 1px solid black;

  background-color: pink;
}

.debug-nest{
  height: 140px;
  line-height: 140px;

  margin: 5px auto;

  text-align: center;

  border: 1px solid white;

  background-color: lightblue;
}

/* ------------------------------------ */

@media all and (min-width: 1201px) {
  /* JUMBOTRON */
  #ms_jumbotron .start_bootstrap h1{
    font-size: 7rem;
  }

  #ms_jumbotron .start_bootstrap p{
    font-size: 2.5rem;
  }

  /* PORTFOLIO */
  #portfolio h2{
    font-size: 5rem;
  }

  /* ABOUT */
  #about h2{
    font-size: 5rem;
  }

  #about p{
    font-size: 2rem;
  }
}

@media all and (min-width: 993px) and (max-width: 1200px) {
  /* JUMBOTRON */
  #ms_jumbotron .start_bootstrap h1{
    font-size: 7rem;
  }

  #ms_jumbotron .start_bootstrap p{
    font-size: 2.5rem;
  }

  /* PORTFOLIO */
  #portfolio h2{
    font-size: 5rem;
  }

  /* ABOUT */
  #about h2{
    font-size: 5rem;
  }

  #about p{
    font-size: 2rem;
  }
}

@media all and (min-width: 769px) and (max-width: 992px) {
  /* JUMBOTRON */
  #ms_jumbotron .start_bootstrap h1{
    font-size: 5rem;
  }

  #ms_jumbotron .start_bootstrap p{
    font-size: 2rem;
  }

  /* PORTFOLIO */
  #portfolio h2{
    font-size: 4rem;
  }

  /* ABOUT */
  #about h2{
    font-size: 4rem;
  }

  #about p{
    font-size: 2rem;
  }
}

@media all and (max-width: 768px) {
  .ms_container_xs{
    margin: 0 auto;
    max-width: 540px;
  }

  /* JUMBOTRON */
  #ms_jumbotron .start_bootstrap h1{
    font-size: 5rem;
  }

  #ms_jumbotron .start_bootstrap p{
    font-size: 2rem;
  }

  /* PORTFOLIO */
  #portfolio h2{
    font-size: 4rem;
  }

  #portfolio .ms_image_container{
    margin-left: auto;
    margin-right: auto;
  }

  .ms_container_img_xs{
    margin: 0 auto;
    max-width: 400px;
  }

  #portfolio .ms_image_container img{
    margin-left: auto;
    margin-right: auto;
  }

  /* ABOUT */
  #about h2{
    font-size: 4rem;
  }

  #about p{
    font-size: 2rem;
  }
}

/* ------------------------------------ */

/* HEADER */
header{
  background-color: #2c3e50;
}

/* NAV */
header .navbar {
  margin-top: 0;
  margin-bottom: 0;

  padding: 20px 0;
}

header .navbar-default{
  background-color: transparent;
  border-color: transparent;
}

header .navbar-default .navbar-brand{
  color: white;
  background-color: transparent;

  font-size: 3rem;
}

header .navbar-default .navbar-brand:focus,
header .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

header .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1.7rem;
}

header .navbar-default .navbar-nav > li > a:focus{
  color: white;
}

header .navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
    background-color: transparent;
}
/* ------------------------------------ */

/* JUMBOTRON */
#ms_jumbotron{
  color: white;
  background-color: #1abc9c;

  margin-bottom: 30px;
  padding: 90px 0;
}

#ms_jumbotron .start_bootstrap{
  text-align: center;
}

#ms_jumbotron .start_bootstrap img{
  max-width: 240px;

  margin-bottom: 40px;
}

#ms_jumbotron .start_bootstrap h1{
  color: white;
  font-weight: bold;

  margin: 0 auto;
}

#ms_jumbotron .start_bootstrap .divider{
  width: 100%;

  margin: 20px auto;
}

#ms_jumbotron .start_bootstrap .divider-line{
  display: inline-block;
  background-color: white;

  width: 15%;
  min-width: 120px;
  height: 4px;
  border-radius: 1rem;
  vertical-align: middle;
}

#ms_jumbotron .start_bootstrap .divider-icon{
  display: inline-block;

  font-size: 3.5rem;

  margin-left: 10px;
  margin-right: 10px;

  vertical-align: middle;
}

/* ------------------------------------ */

/* PORTFOLIO */
#portfolio{
  text-align: center;
  font-weight: bold;

  color: #2c3e50;

  margin-bottom: 30px;
}

/* TITLE */
#portfolio h2{
  margin: 0 auto;
  font-weight: 600;
}

#portfolio .divider{
  width: 100%;

  margin: 20px auto;
}

#portfolio .divider-line{
  display: inline-block;
  background-color: #2c3e50;

  width: 15%;
  min-width: 120px;
  height: 4px;
  border-radius: 1rem;
  vertical-align: middle;
}

#portfolio .divider-icon{
  display: inline-block;

  font-size: 3.5rem;

  margin-left: 10px;
  margin-right: 10px;

  vertical-align: middle;
}

#portfolio .ms_image_container img{
  border-radius: 1rem;
}

#portfolio .ms_mb{
  margin-bottom: 3rem;
}
/* ROW LINKS */

/* ------------------------------------ */

/* ABOUT */
#about{
  color: white;
  background-color: #1abc9c;

  margin-bottom: 30px;
  padding: 96px 0;
}

#about h2{
  text-align: center;
  font-weight: 600;
}

#about .divider{
  width: 100%;
  text-align: center;

  margin: 20px auto;
}

#about .divider-line{
  display: inline-block;
  background-color: white;

  width: 15%;
  min-width: 120px;
  height: 4px;
  border-radius: 1rem;
  vertical-align: middle;
}

#about .divider-icon{
  display: inline-block;

  font-size: 3.5rem;

  margin-left: 10px;
  margin-right: 10px;

  vertical-align: middle;
}

#about .download{
  text-align: center;
}

#about .download .btn{
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 0.8rem;

  padding: 2rem 3rem;
}

#about .download .btn-default{
  color: white;
  background-color: transparent;
  border-color: white;
}
/* ------------------------------------ */

/* CONTACT ME */
#contact{
  text-align: center;
  font-weight: bold;

  color: #2c3e50;

  margin-bottom: 30px;
}

#contact h2{
  font-weight: 600;
}

#contact .divider{
  width: 100%;

  margin: 20px auto;
}

#contact .divider-line{
  display: inline-block;
  background-color: #2c3e50;

  width: 15%;
  min-width: 120px;
  height: 4px;
  border-radius: 1rem;
  vertical-align: middle;
}

#contact .divider-icon{
  display: inline-block;

  font-size: 3.5rem;

  margin-left: 10px;
  margin-right: 10px;

  vertical-align: middle;
}

/* FORM */
#contact .ms_form-block input[type=text]{
  padding: 30px 0;

  width: 100%;

  border-bottom: 1px solid lightgrey;
  border-left: none;
  border-right: none;
  border-top: none;
}

#contact .ms_form-block input[type=text]:focus{
  outline: none;
}

#contact .ms_form-block textarea{
  width: 100%;
  height: 150px;

  padding-top: 30px;
  margin-bottom: 30px;

  resize: none;

  border-bottom: 1px solid lightgrey;
  border-left: none;
  border-right: none;
  border-top: none;
}

#contact .ms_form-block textarea:focus{
  outline: none;
}

#contact .ms_form-block .btn{
  color: white;
  font-size: 2rem;
  border: 2px solid white;
  background-color: #1abc9c;
  border-radius: 0.8rem;

  padding: 2rem 3rem;
}

#contact .ms_form-block{
  text-align: left;
}
/* ------------------------------------ */

/* FOOTER */
footer{
  margin-bottom: 30px;
}
/* ------------------------------------ */

/* COPYRIGHT */
