/* COMMON */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.center{
  width: 70%;
  margin: 0 auto;
}

/* debug */
.debug{
  height: 150px;
  line-height: 150px;

  text-align: center;

  border: 1px solid black;

  background-color: pink;
}

.debug-nest{
  height: 140px;
  line-height: 140px;

  margin: 5px auto;

  text-align: center;

  border: 1px solid white;

  background-color: lightblue;
}

/* ------------------------------------ */

/* HEADER */
header{
  background-color: #2c3e50;
  margin-bottom: 30px;
}

/* NAV */
header .navbar {
  margin-top: 0;
  margin-bottom: 0;

  padding: 20px 0;
}

header .navbar-default{
  background-color: transparent;
  border-color: transparent;
}

header .navbar-default .navbar-brand{
  color: white;
  background-color: transparent;

  font-size: 3rem;
}

header .navbar-default .navbar-brand:focus,
header .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

header .navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 1.7rem;
}

.navbar-default .navbar-nav > li > a:focus{
  color: white;
}

header .navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
    background-color: transparent;
}
/* ------------------------------------ */

/* JUMBOTRON */
#jumbotron{
  margin-bottom: 30px;
}


/* ------------------------------------ */

/* PORTFOLIO */
#portfolio{
  margin-bottom: 30px;
}
/* ------------------------------------ */

/* ABOUT */
#about{
  margin-bottom: 30px;
}

/* ------------------------------------ */

/* CONTACT ME */
#contact{
  margin-bottom: 30px;
}
/* ------------------------------------ */

/* FOOTER */
footer{
  margin-bottom: 30px;
}
/* ------------------------------------ */

/* COPYRIGHT */
