/* COMMON */
body {
  font-family: 'Lato', sans-serif;
}

.center{
  width: 70%;
  margin: 0 auto;
}

/* debug */
.debug{
  height: 150px;
  line-height: 150px;

  text-align: center;

  border: 1px solid black;

  background-color: pink;
}

.debug-nest{
  height: 140px;
  line-height: 140px;

  margin: 5px auto;

  text-align: center;

  border: 1px solid white;

  background-color: lightblue;
}

/* ------------------------------------ */

/* HEADER */
header{
  margin-bottom: 30px;
}

/* NAV */

/* ------------------------------------ */

/* JUMBOTRON */
#jumbotron{
  margin-bottom: 30px;
}


/* ------------------------------------ */

/* PORTFOLIO */
#portfolio{
  margin-bottom: 30px;
}
/* ------------------------------------ */

/* ABOUT */
#about{
  margin-bottom: 30px;
}

/* ------------------------------------ */

/* CONTACT ME */
#contact{
  margin-bottom: 30px;
}
/* ------------------------------------ */

/* FOOTER */
footer{
  margin-bottom: 30px;
}
/* ------------------------------------ */

/* COPYRIGHT */
